// -----------------------------------------------
// FONT SCHEME -----------------------------------
// -----------------------------------------------
$rubik: 'Rubik', sans-serif;

// -----------------------------------------------
// MEDIA QUERIES SCHEME --------------------------
// -----------------------------------------------
$mq-xs: 'screen and (min-width: 480px)';
$mq-sm: 'screen and (min-width: 576px)';
$mq-md: 'screen and (min-width: 768px)';
$mq-lg: 'screen and (min-width: 992px)';
$mq-xl: 'screen and (min-width: 1200px)';

// -----------------------------------------------
// Z-INDEX SCHEME --------------------------------
// -----------------------------------------------
$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;
$z-index-4: 4;

// -----------------------------------------------
// SIZES SCHEME ----------------------------------
// -----------------------------------------------
$navbarTopHeight: 60px;

// -----------------------------------------------
// COLOR SCHEME ----------------------------------
// -----------------------------------------------
$text-grey: #444444;
$text-white: #fefefe;
$grey-2: #f0f0f0;
$grey-3: #f4f4f4;
$brand: #cb3b3b;
$white: #ffffff;